<table>
  <thead>
    <tr>
      <td>sr no</td>
      <td>title</td>
      <td>description</td>
      <td>category</td>
      <td>action</td>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each_with_index do |blog,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= blog.category.name %></td>
        <td><%= link_to 'show',blog_path(blog) %>
          <%= link_to 'edit' ,edit_blog_path(blog.id) %>
          <%=link_to 'delete' ,method: :delete,data:{confirm:"eant to delete"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
